.container {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .hex {
    display: inline-block;
    filter: url('#goo');
    color: darkBlue;
    width: 35%;
    position: absolute;
  }
  
  .hex::before {
    content: "";
    display: block;
    background: currentColor;
    padding-top: 86.6%;
    /* 100%*cos(30) */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  
  .pos0 {
    top: 0%;
    left: 30%;
  }
  
  .pos1 {
    top: 17%;
    left: 0%;
  }
  
  .pos2 {
    top: 17%;
    left: 60%;
  }
  
  .pos3 {
    top: 34%;
    left: 30%;
  }
  
  .pos4 {
    top: 51%;
    left: 0%;
  }
  
  .pos5 {
    top: 68%;
    left: 30%;
  }
  
  .pos6 {
    top: 51%;
    left: 60%;
  }